@import url(./primitive.css);

:root{

  /* Color */

  --cb-primary-bg: var(--brand-orange);
  --cb-primary-fg: var(--neutral-black);
  --cb-primary-border: var(--neutral-200);

  --cb-secondary-bg: var(--orange-50);
  --cb-secondary-fg: var(--neutral-600);

  --cb-invert-fg: var(--neutral-white);
  --cb-dark-fg: var(--neutral-black);
  --cb-light-fg: var(--neutral-white);

  --cb-surface-bg: var(--neutral-white);

  --cb-success-bg: var(--green-400);
  --cb-success-border: var(--green-400);
  --cb-danger-bg: var(--red-400);
  --cb-danger-border: var(--red-400);

  --cb-surface-disabled-bg: var(--neutral-100);
  --cb-surface-primary-bg-hover: var(--orange-600);
  --cb-surface-secondary-bg-hover: var(--orange-100);
  --cb-border-focus: var(--brand-orange);

  /* Typography */

  --body-xs: var(--type-50);
  --body-sm: var(--type-100);
  --body-md: var(--type-150);
  --body-lg: var(--type-200);

  --subtitle-xs: var(--type-300);
  --subitile-md: var(--type-400);
  --subtitle-lg: var(--type-500);

  --page-title: var(--type-600);

  /* Spacing */

  --spacing-xxs: var(--dim-50);
  --spacing-xs: var(--dim-100);
  --spacing-sm: var(--dim-200);
  --spacing-md: var(--dim-150);
  --spacing-lg: var(--dim-300);
  --spacing-xl: var(--dim-400);


  /* Border */

  --border-width-none: var(--dim-none);
  --border-width-sm: var(--dim-unit);
  --border-width-md: var(--dim-25);
  --border-width-lg: var(--dim-50);

  --border-radius-none: var(--dim-none);
  --border-radius-sm: var(--dim-50);
  --border-radius-md: var(--dim-100);
  --border-radius-lg: var(--dim-200);
  --border-radius-xl: var(--dim-400);
  --border-radius-circle: 50%;

  /* Elevation */

  --elevation-none: var(--dim-none);
  --elevarion-sm:
    0px 2px 2px 0px rgba(0,0,0,0.10), 
    0px 3px 1px -2px rgba(0,0,0,0.05), 
    0px 1px 5px 0px rgba(0,0,0,0.12);
  --elevation-md:
    0px 8px 20px 1px rgba(0,0,0,0.05), 
    0px 3px 14px 5px rgba(0,0,0,0.05), 
    0px 5px 10px -5px rgba(0,0,0,0.03);
  --elevation-lg: 
    0px 16px 20px 2px rgba(0,0,0,0.05), 
    0px 6px 20px 3px rgba(0,0,0,0.05), 
    0px 16px 14px -5px rgba(0,0,0,0.03);

/* Dark mode */

  @media (prefers-color-scheme: dark) {

    --cb-primary-bg: var(--brand-orange);
    --cb-primary-fg: var(--neutral-50);
    --cb-primary-border: var(--neutral-500);
  
    --cb-secondary-bg: var(--orange-300);
    --cb-secondary-fg: var(--neutral-400);
  
    --cb-invert-fg: var(--neutral-black);
    --cb-dark-fg: var(--neutral-black);
    --cb-light-fg: var(--neutral-white);
  
    --cb-surface-bg: var(--neutral-black);
  
    --cb-success-bg: var(--green-900);
    --cb-success-border: var(--green-900);
    --cb-danger-bg: var(--red-900);
    --cb-danger-border: var(--red-900);
  
    --cb-surface-disabled-bg: var(--neutral-900);
    --cb-surface-primary-bg-hover: var(--orange-800);
    --cb-surface-secondary-bg-hover: var(--orange-200);
    --cb-border-focus: var(--neutral-50);

    --elevation-none: var(--dim-none);
    --elevarion-sm:
      0px 2px 2px 0px rgba(255,255,255,0.10), 
      0px 3px 1px -2px rgba(255,255,255,0.05), 
      0px 1px 5px 0px rgba(255,255,255,0.12);
    --elevation-md:
      0px 8px 20px 1px rgba(255,255,255,0.05), 
      0px 3px 14px 5px rgba(255,255,255,0.05), 
      0px 5px 10px -5px rgba(255,255,255,0.03);
    --elevation-lg: 
      0px 16px 20px 2px rgba(255,255,255,0.05), 
      0px 6px 20px 3px rgba(255,255,255,0.05), 
      0px 16px 14px -5px rgba(255,255,255,0.03);
  
  }

 }

